# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
pids
logs
*.pid
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# WhatsApp Web
.wwebjs_auth
.wwebjs_cache
whatsapp-session.json

# Optional Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo

# ffmpeg.exe
ffmpeg.exe